@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Space Mono", monospace;
}

body {
    background-color: hsl(185, 41%, 84%);
}

.logo {
    padding: 60px;
    display: flex;
    justify-content: center;
}


main .calculator-container {
    background-color: #ffffff;
    max-height: 100vh;
    border-radius: 10px 10px 0 0;
    padding: 25px;
}

main .calculator-container .bill p{
    color: hsl(184, 14%, 56%);
    font-weight: 600;
}

.bill .bill-input {
    background-color: hsl(189, 41%, 97%);
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    margin-top: 5px;
}

.bill .bill-input:hover, .bill-input input:hover {
    border: 1px solid hsl(172, 67%, 45%);
    cursor: pointer;
}

.bill .bill-input input {
    width: 90%;
    border: none;
    outline: none;
    background-color: hsl(189, 41%, 97%);
    text-align: right;
    color: hsl(183, 100%, 15%);
    font-size: 20px;
    font-weight: 700;
    
}

.select-tip {
    margin: 20px 0;
}

.select-tip p {
    color: hsl(184, 14%, 56%);
    font-weight: 600;
    margin-bottom: 5px;
}

.select-tips-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.select-tips-grid button {
    background-color: hsl(183, 100%, 15%);
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 7px;
    font-weight: 700;
    font-size: 20px;
}

.select-tips-grid button:hover {
    background-color: hsl(172, 67%, 45%);
    cursor: pointer;
    transition: all 0.2s ease;
}

.select-tips-grid .custom {
    border: none;
    border-radius: 7px;
    background-color: hsl(189, 41%, 97%);
    color: hsl(186, 14%, 43%);
    text-align: center;
    font-weight: 700;
    outline: none;
}

.select-tips-grid .custom:hover {
    border: 1px solid hsl(172, 67%, 45%);
}

.number-of-people {
    margin-bottom: 30px;
    position: relative;
}

.error {
    position: absolute;
    right: 5px;
    top: 0;
    color: red;
}

.number-of-people p{
    color: hsl(184, 14%, 56%);
    font-weight: 600;
}

.num-of-people-input {
    background-color: hsl(189, 41%, 97%);
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    margin-top: 5px;
}

.num-of-people-input input {
    width: 90%;
    border: none;
    outline: none;
    background-color: hsl(189, 41%, 97%);
    text-align: right;
    color: hsl(183, 100%, 15%);
    font-size: 20px;
    font-weight: 700;
}

.num-of-people-input:hover {
    border: 1px solid hsl(172, 67%, 45%);
    cursor: pointer;
}

.tip-amount-total-display {
    background-color: hsl(183, 100%, 15%);
    padding: 15px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tip-amount {
    display: flex;
    justify-content: space-between;
}

.tip-amount p b {
    color: hsl(189, 41%, 97%);
}

.tip-amount p {
    color:hsl(184, 14%, 56%)
}

.tip-per-person-amount {
    font-size: 40px;
    font-weight: 700;
    color: hsl(172, 67%, 45%)
}

.total {
    display: flex;
    justify-content: space-between;
}

.total p b {
    color: hsl(189, 41%, 97%);
}

.total p {
    color: hsl(184, 14%, 56%)
}

.total-amount {
    font-size: 40px;
    font-weight: 700;
    color:hsl(172, 67%, 45%);
}

.tip-amount-total-display .reset-button button{
    width: 100%;
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    padding: 5px 0;
}

.reset-button button:hover {
    cursor: pointer;
    background-color: hsl(185, 41%, 84%);
}

/* .reset-button button:empty {
    background-color: hsl(184, 14%, 56%);
    color: hsl(186, 14%, 43%);
} */

@media screen and (min-width: 700px) {
    body{
        position: relative;  
    } 
    
    .calculator-container {
        margin: 0 auto;
        width: 70%;
        padding: 30px;
        display: flex;
        justify-content: space-around;
        gap: 20px;
        /* border-radius: 10px; */
    }

    .select-tips-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .figure-inputs {
        flex: 1;
    }

    .tip-amount-total-display {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .tip-amount {
        margin-bottom: 20px;
    }
}